@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-weight: lighter;
}



/* Header and Home */

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.main_header {
    background: url('imgs/bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    height: 30%;
    margin: auto;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    width: 100%;
}

.logo {
    text-decoration: none;
    line-height: 60px;
    /* position: fixed; */
    float: left;
    margin: 16px 46px;
    color: rgb(190, 80, 190);
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 2px;
    width: 200px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    background-color: rgb(50, 50, 50);
    z-index: 10;
    top: 0;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 30px;;
}

nav ul li a {
    text-decoration: none;
    color: rgb(190, 80, 190);
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 600;
}

nav ul li a:hover {
    /* text-decoration: none; */
    color: rgb(100, 0, 100);
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 600;
}

.title {
    color:  white;
    font-size: 80px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 10px;
    padding-top: 10px;
}

.line {
    border-top: 1px solid rgb(204, 204, 204);
    width: 60%;
    margin-bottom: 20px;
}

.description {
    color:  white;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description a {
    text-decoration: none;
    color:  rgb(190, 80, 190);
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;
}

.description a:hover {
    text-decoration: none;
    color:  rgb(100, 0, 100);
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;
}

/* Section */

.main_section {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 80px 0px 40px 0px;
}

.even_section {
    background-color: #F5F4F6;
}

.content {
    width: 50%;
    margin: auto;
    position: relative;
    margin-bottom: 80px;
}

.content h1 {
    color: rgb(190, 80, 190);
    font-size: 50px;
    margin: 20px 0;
    padding-top: 40px;
}

.content h2 {
    color: gray;
    font-size: 20px;
    padding: 20px 0;
    line-height: 50px;
}

.content h3 {
    color: #22A39f;
    font-size: 20px;
    margin: 40px 0;
}

.content p {
    line-height: 30px;
}

.content .imgs {
    width: 100%;
    margin-top: 20px;
    display: flex;
}

.content figcaption {
    font-size: 12px;
}

.content .imgs .one-third {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.content .imgs .one-third img {
    width: 100%;
}

.content .imgs .half {
    float: left;
    width: 50%;
    padding: 5px;
}

.content .imgs .half img {
    width: 100%;
}

.content figcaption {
    margin-bottom: 20px;
}

hr.horizontalLine {
    border-top: 1px solid rgba(167, 167, 167, 0.3);
    width: 80%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.content h3 a {
    text-decoration: none;
    color:rgb(190, 80, 190);
}


/* Contact us */
#contact {
    background-color: rgb(50, 50, 50);
}

.mail {
    text-decoration: none;
    color:rgb(190, 80, 190);
}